.header {
  grid-area: header;
  background: var(--text-color);
  padding: 30px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.header-title {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;

}

.header-search form {
  background: #FFF;
  border-radius: 4px;
  padding: 5px;
}

.header-search input {
  border: none;
}
